body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('background.jpg');
    color: #333;
}

.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.724);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid #e3e6ef;
}

h1 {
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 30px;
    color: #2a3b5a;
    font-weight: 700;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #69788c;
    font-size: 1.5em;
    font-weight: 400;
}

.balance {
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
    color: #2e8b57;
    margin-bottom: 40px;
}

.income-expense {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.income-expense div {
    background-color: #f1f5f9;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    width: 48%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);
    transition: transform 0.2s ease-in-out;
}

.income-expense div:hover {
    transform: translateY(-5px);
}

.income-expense div h3 {
    font-size: 1.3em;
    color: #5a6b81;
    margin-bottom: 10px;
    font-weight: 600;
}

.income-expense div p {
    font-size: 1.8em;
    margin: 0;
    font-weight: 500;
}

.income-expense .income p {
    color: #2e8b57;
}

.income-expense .expense p {
    color: #d9534f;
}

.history {
    margin-top: 50px;
}

.history h3 {
    font-size: 1.8em;
    color: #2a3b5a;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

.history table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.history th, .history td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e9ecef;
}

.history th {
    background-color: #f8f9fa;
    font-weight: 600;
    color: #495057;
}

.history td {
    color: #6c757d;
    font-weight: 400;
}

.history tr:hover {
    background-color: #f1f5f9;
    transition: background-color 0.3s ease-in-out;
}

.history .edit, .history .delete {
    cursor: pointer;
    font-size: 1.2em;
}

.history .edit {
    color: #5a67d8;
    transition: color 0.3s ease-in-out;
}

.history .edit:hover {
    color: #4c51bf;
}

.history .delete {
    color: #e3342f;
    transition: color 0.3s ease-in-out;
}

.history .delete:hover {
    color: #c53030;
}

.add-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #5a67d8;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-btn:hover {
    background-color: #4c51bf;
    transform: scale(1.05);
}
